[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
channels = "*"
channels-redis = "*"
psycopg2 = "*"
django-filter = "*"
sendgrid = "*"
twilio = "==6.4.0"
awsebcli = "*"

[dev-packages]
pytest = "*"
tox = "*"
pylint = "*"

[requires]
python_version = "3.9"
